@import "tailwindcss";

:root {
    --text: #495057;
    --disabled: #e9ecef;
    --hover-bg: #e2e8f0;
    --hover-border: #94a3b8;
    --border: #d1d1d1;
    --focus: #020617;

    --bg: #ffffff;
    --bg-2: #f9fafb;

    --selected: #000000;
    --selected-text: #ffffff;
    


    /** TOOLTIP */
    --tooltip-background-color: var(--dyn-tooltip-background-color, #020617);
    --tooltip-text-color: var(--dyn-tooltip-text-color, #ffffff);
    --tooltip-font-size: var(--dyn-tooltip-font-size, 14px);
}
