@import "tailwindcss";

:root {
    /* --gray-light-1: #919292;
    --gray-light-2: #b9b2ad;
    --gray-light-3: #c4c4c4;
    --gray-light-4: #e5e5e5;
    --gray-light-5: #ffffffe3;
    --gray-dark-1: #838181;
    --gray-dark-2: #6d6e6e;
    --gray-dark-3: #464646;
    --gray-dark-4: #363636;
    --gray-dark-5: #181e1e; */
}
